AIRFLOW_UID=50000
MINIO_ACCESS_KEY = admin
MINIO_SECRET_KEY = password
MINIO_ENDPOINT_URL = http://minio:9000
REST_CATALOG_URL = http://rest:8181

# Trino / dbt
TRINO_HOST=localhost
TRINO_HOST_DOCKER=lppm-trino
TRINO_PORT=8085
TRINO_USER=trino
TRINO_CATALOG=default
TRINO_SCHEMA=gold
